[Unit]
Description = Jive Player

# if you don't need the MySQL DB backend, this should be sufficient
After = systemd-user-sessions.service network.target sound.target jive.service screensaver.service

[Service]
User = root
Group = root
Type = simple
#PAMName = login # you might want to try this one, did not work on all systems
ExecStart = /usr/bin/xinit /opt/weather/weather.sh -- :7 -dpms -br -nolisten tcp vt6
Restart = on-abort
RestartSec = 5

[Install]
WantedBy = multi-user.target
